body{
    background-color: #F0F2F5;
}

/* .container {
    align-content: center;
} */

.post-wrapper {
    align-content: center;
    background-color: #fff;
    padding: 30px 10;
    border: 1px solid lightgray;
    width: 500px;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    /* position: relative; */
}

.post-content {
    margin-top: 25px;
    border-left: 3px solid lightgrey;
    padding-left: 20px;
}

.image-wrapper {
    margin-right: 15px;
}

.image-wrapper img {
    width: 50px;
    border-radius: 50%;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.social {
    margin-top: 25px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

/* .settings {
    position: relative;
    top: 0;
    right: 0;
} */